Repository BetterBlood/DAI-PW2, pull requests merged in 2023-11, with the labels that each got.

#11 Basic client-server architecture
  .idea/misc.xml
  .idea/runConfigurations/Package_as_JAR_file.xml
  .idea/uiDesigner.xml
  README.md
  dependency-reduced-pom.xml
  english_words_dwyl.txt
  english_words_jlawler.txt
  french_words_taknok.txt
  pom.xml
  src/main/java/ch/heigvd/Client.java
  src/main/java/ch/heigvd/Hangman.java
  src/main/java/ch/heigvd/Main.java
  src/main/java/ch/heigvd/Server.java
  src/main/java/ch/heigvd/Utils.java
Labels: framework

#13 Basic Client and basic client-server communication
  README.md
  src/main/java/ch/heigvd/Client.java
  src/main/java/ch/heigvd/Hangman.java
  src/main/java/ch/heigvd/Server.java
  src/main/java/ch/heigvd/Utils.java
Labels: framework, client

#19 Server side
  README.md
  src/main/java/ch/heigvd/Hangman.java
  src/main/java/ch/heigvd/Server.java
Labels: bug, documentation, server

#20 Client side
  src/main/java/ch/heigvd/Client.java
Labels: client

#28 ASCII art
  README.md
  src/main/java/ch/heigvd/Client.java
Labels: client

#31 Delete french words duplicates
  files/french_ascii_chrplr.txt
  src/main/java/ch/heigvd/TxtToAscii.java
Labels: bug, documentation
